[project]
	description = Contains Crystal Rom's changelog
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/Crystal ROM (Crystal-Rom)
[access "refs/for/refs/*"]
	read = group user/Crystal ROM (Crystal-Rom)
	push = group user/Crystal ROM (Crystal-Rom)
	label-Code-Review = -2..+2 group user/Crystal ROM (Crystal-Rom)
	label-Verified = -1..+1 group user/Crystal ROM (Crystal-Rom)
	rebase = group user/Crystal ROM (Crystal-Rom)
	removeReviewer = group user/Crystal ROM (Crystal-Rom)
	submit = group user/Crystal ROM (Crystal-Rom)
[access "refs/heads/*"]
	read = group user/Crystal ROM (Crystal-Rom)
	create = group user/Crystal ROM (Crystal-Rom)
	push = +force group user/Crystal ROM (Crystal-Rom)
	pushMerge = group user/Crystal ROM (Crystal-Rom)
[access "refs/tags/*"]
	push = +force group user/Crystal ROM (Crystal-Rom)
	pushTag = group user/Crystal ROM (Crystal-Rom)
	pushSignedTag = group user/Crystal ROM (Crystal-Rom)
